@model IEnumerable<HONASTEAK.Models.Product>
@{
    Page.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div style="height:100px"></div>
    <div class="main-part">

        <section class="breadcrumb-nav">
            <div class="container">
                <div class="breadcrumb-nav-inner" style="text-align:center">
                    <label style="font-size:50px" class="now">MENU</label>
                    <hr />
                </div>
            </div>
        </section>

        <!-- Start Blog List -->

        <section class="default-section shop-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"  >
                        
                    </div>
                    <div class="col-md-10>
                        @foreach (var Category in ViewBag.Categories)
                        {
                            <div class="blog-right-section">
                                <h3 class="block_menu_item_title">
                                    <span class="line_after_heading section_heading" style="color: #c19942">@Category.Name</span>
                                </h3>
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        if (item.Category.Id == Category.Id)
                                        {
                                            <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                                                <div class="shop-main-list">
                                                    <div class="shop-product" style="height:200px; text-align:center">
                                                        <a href="~/Product/@item.Slug"> <img src="@item.Image" alt="productImage" style="height:200px;width:250px; border-radius:3px;"></a>
                                                    </div>
                                                    <a href="~/Product/@item.Slug"><h5>@item.Name</h5></a>
                                                    <h5><strong>@item.Price.ToString("N0")đ</strong></h5>
                                                </div>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>}
                    </div>
                </div>
            </div>
    </div>
    </div>
    </section>

    <!-- End Blog List -->
    </div>
</main>
