
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompleteOrder</h2>

<div class="text-center" style="height: 600px">
    <p>Bạn đã đặt hàng thành công</p>
    <p>Cảm ơn bạn vì giữa muôn vàn sự lựa chọn đã chọn <b>HONASTEAK</b></p>
</div>

